.common {
  composes: none from "./borders.css";
  composes: purple-dark heavy from "./typography.css";
  composes: transparent from "./backgrounds.css";

  padding-top: 0.75rem;
  padding-right: 0;
  padding-bottom: 0.75rem;
  padding-left: 0;
  transition: all 0.1s ease;
}

.common:focus { outline: 0; }

.common + .common { margin-left: 0.5rem; }

.normal {
  composes: common;
}

.primary {
  composes: common;
  composes: white from "./typography.css";
  composes: primary primary-hover from "./backgrounds.css";
  composes: primary primary-hover from "./borders.css";
}

.danger {
  composes: common;
  composes: white from "./typography.css";
  composes: danger danger-hover from "./backgrounds.css";
  composes: danger danger-hover from "./borders.css";
}
